# Configuration File Version
configVersion={{currentConfigVersion}}

# ---------------------------------------------------------------------------------------------------------------------------
#                                         General Server Options
# ---------------------------------------------------------------------------------------------------------------------------

# Define server file name here
serverName={{serverName}}

# Define RAM allocation amount here you can use G for Gigabytes or M for Megabytes
# Maximum memory allocation pool
maxRam={{maxRam}}
# Initial memory allocation pool
iniRam={{iniRam}}

# Restart mode on crash or /restart (true/false) default = true
autoRestart={{autoRestart}}

# Vanilla server GUI (true/false)
GUI={{GUI}}

# Set console title here
Title=Minecraft Server

# ---------------------------------------------------------------------------------------------------------------------------
#                                         Discord Webhook Options
# ---------------------------------------------------------------------------------------------------------------------------

# Follow the "Making a Webhook" section here: https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks

# Set the Discord webhook URL here
webhookURL={{webhookURL}}

# Set the message which is sent via webhook when the server stops
webhookMessageStop=```\uD83C\uDFC1 The server has stopped.```

# Set the message which is sent via webhook when the server starts
webhookMessageStart=```\uD83D\uDE80 The server has started.```